<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Dashboard</h1>
    </center>
    <hr>
    <img src={{user.profile.profile.url}} alt="No Image" style="height:150px"><br>
    <strong>Full name : </strong> <span>{{user.first_name}}</span> <br>
    <strong>Username : </strong> <span>{{user.username}}</span> <br>
    <strong>Email : </strong> <span>{{user.email}}</span> <br>
    <br>
    
     <a href="/postblogs/">
        <button style="padding: 5px, margin:5px"> Post Blogs</button>
     </a>  
     <a href="/showblogs/">
        <button style="padding: 5px, margin:5px"> Show Blogs</button>
     </a>  
     <a href="/delete_user/">
        <button style="padding: 5px, margin:5px"> Delete Account</button>
     </a>  
     <a href="/update_user/">
        <button style="padding: 5px, margin:5px"> Update Details</button>
     </a>  
     <a href="/logout_user/">
        <button style="padding: 5px, margin:5px"> Logout</button>
     </a>  
</body>
</html>