<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Update Page</h1>
    </center>
    <hr />
    <form action="/update_details/" method="post">
      {% csrf_token %}

      <input
      type="text"
      name="fullname"
      id=""
      placeholder="fullname"
      value={{request.user.first_name}}
      />

      <input
      type="text"
      name="username"
      id=""
      placeholder="username"
      value={{request.user.username}}
      />

      <input
      type="email"
      name="email"
      id=""
      placeholder="email"
      value={{request.user.email}}
      />
      <button type="submit">Update Account</button>
    </form>
  </body>
</html>
