.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  /* background-color: white; */
  padding: 30px;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid black; */
}
.form{
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);

}
.form h2{
  text-align: center;
  margin-top: 0;
  font-size: 25px;
  color: rgb(72, 65, 65);

}
.form-input{
  padding: 10px;
  font-size: 14px;
  margin-bottom: 12px;
}
.form-button{
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #4274D9;
  color: white;
  font-weight: bold;
}

.form-error{
  color: red;
  text-align: center;
  font-size: 12px;
}

.form-redirect{
  font-size: 12px;
}

.form-link{
  color: #4274D9;
  cursor: pointer;
}

/* -----------Chat Box------------- */

.chat-container{
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  

}

.chat-header{
  background-color: #4274D9;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-title{
  font-size: 18px;
  margin: 0;
}

.chat-user{
  font-size: 13px;
  margin-right: 10px;

}
.chat-logout{
  background: white;
  color: #4274D9;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}
.chat-logout:hover{
  background-color: #3864bc;
  color: white;
}

/* ------------- */
.chat-message{
  flex: 1;
  padding: 12px;
  overflow-y: hidden;
  background-color: white;
}
/* --------------- */

.chat-form{
  display: flex;
  padding: 10px;
  border-top: 1px solid rgb(70, 67, 67);
}
.chat-input{
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(70, 67, 67);
  margin-right: 10px;
  font-size: 15px;
}
.chat-form button{
  background: #4274D9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
}
.chat-form button:hover{
  background: #3a5fa9;
  color: white;
}

.chat-bubble{
  padding: 3px;
  margin-bottom: 8px;
  max-width: 60%;
  border-radius: 4px;
  background-color: #e4e6eb;
}

.chat-sender{
  font-size: 12px;
  font: bolder;
}

.chat-bubble p{
  margin: 4px 0 0 0 ;
}

.own-message{
  margin-left: auto;
  background-color: #D0E7E6;
}
